{% extends 'backend_q_template.html' %}
{% block title %}
    <title>Questão 1</title>
{% endblock title %}
{% block question %}
    <form method="post" action="q1">
        <p class="texting">Dado um array de números inteiros, retorne os índices dos dois números de forma que eles se somem a um alvo específico.<br>
            Você pode assumir que cada entrada teria exatamente uma solução, e você não pode usar o mesmo elemento duas vezes.<br><br>
            Exemplo:<br>
            Dado nums = [2, 7, 11, 15], alvo = 9, Como nums[0] + nums[1] = 2 + 7 = 9, return [0, 1].<br><br><br><br><br>
            Insira um array no campo abaixo:<br>
                <input type="text" name="array" placeholder="Ex: [1,2,3]">
                <button type="submit">Enviar</button><br><br>
            {% if context %}
                {% if context.result %}
                <br><br><br><br><br>A soma é: {{ context.result }}
                {%  elif context.message %}
                    <span style="color: #fa4353">{{ context.message }}</span>
                {% endif %}
            {% endif %}

            <br>
            <button type="button" style="background-color: #ff0000;margin-left: 75px;margin-top: 15px;cursor: pointer;border-radius: 8px;color: white;min-width: 70px;min-height: 30px;" onclick="goBack()">
                Voltar
            </button>
            <a href="/backend/q2">
                <button type="button" style="background-color: #23d123;margin-left: 75px;margin-top: 15px;cursor: pointer;border-radius: 8px;color: white;min-width: 70px;min-height: 30px;">
                    Avançar
                </button>
            </a>
        </p>
    </form>
{% endblock question %}